* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    /* height: 100vh; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url(../image/backgound/desktop-1600x900.jpg);
    background-size: cover ;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    /* background: linear-gradient(180deg,#39373d,#18061b); */
    /* background-color: rgb(26, 23, 23); */
}
.container {
    background-color: rgba(104, 97, 104, 0.336);
    box-shadow: 2px 2px 5px rgba(238, 130, 238, 0.342);
    background-size: cover;
    background-repeat: no-repeat;
    /* background-color: rgb(68, 7, 87); */
    width: 600px;
    margin: 100px auto 100px auto;
    border-radius: 10px;
}
.select {
    width: 100%;
    height: 50px;
    display: flex;
}
.reg,.login {
    flex: 50%;
}
.btn-select {
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    color: rgb(224, 238, 186);
    display: inline-block;
    background-color: rgb(27, 22, 29);
    width: 80px;
    text-align: center;
    line-height: 50px;
    text-decoration: none;
}
.reg {
    text-align: end;
}
.login {
    display: flex;
    justify-content: space-between;
}
.login a{
    /* display: inline-block; */
    text-align: center;
    padding-right: 18px;
    line-height: 50px;
    align-self: center;
}
.login a i {
    font-size: 22px;
}
.login a i:hover {
    color: #FF0000;
    /* text-shadow: 3px chocolate; */
    text-shadow: 2px 2px 8px #FF0000;
}

form {
    width: 100%;
    padding: 20px 50px;
}
h2 {
    font-size: 30px;
    text-align: center;
    color:aliceblue;
    margin-bottom: 20px;
}
.group-item {
    width: 100%;
    display: flex;
    justify-content:space-between;
    margin-bottom: 10px;
}
.group-item label {
    width: 150px;
    align-self: center;
    font-weight: 500;
    display: inline-block;
    color: aliceblue;
}
.group-item input {
    font-size: 16px;
    width: 300px;
    padding: 10px 10px;
    border: none;
    border-radius: 3px;
    color: white;
    background-color: #252525b7;
}
.group-item input:focus {
    border: none;
}
.group-item input:hover {
    border: chocolate;
    box-shadow: 2px 2px 5px violet;
}
.remember {
   
    width: 100%;
    height: 50px;
    color: aliceblue;
}
.lable-remember:hover {
    cursor: pointer;
    text-shadow: 0 0 3px #FF0000;
}
input[type = "checkbox"] {
    cursor: pointer;
    width: 15px;
    height: 15px;
}

input[type="submit"] {
    display:inline-block;
    margin-top: 30px;
    padding: 20px 60px;
    background-color: yellow;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    text-align:center;
    border: none;
    color: rgb(19, 68, 39);
    cursor: pointer;
}
input[type="submit"]:hover {
    /* background-color: rgb(66, 24, 24);
    color: aliceblue; */
    box-shadow: 2px 2px 9px rgb(226, 73, 219);
}
input[type="submit"]:active {
    transform: translateY(5px);
}
.group-btn {
    display: flex;
    justify-content: center;
}

.active {
    background-color: violet !important;
    color: rgb(255, 253, 253) !important;
}

.mes {
    margin-top: 20px;
    text-align: center;
    color: rgb(245, 253, 206);
}

.err {
    border: 1px solid red !important;
    box-shadow: 2px 2px 4px rgb(190, 0, 63);
    background-color: #e625253d !important;
}
.validate {
    border: 1px solid rgb(1, 226, 1) !important;
    box-shadow: 2px 2px 4px rgb(0, 248, 42);
    background-color: #74f07063 !important;
}

@media screen {
    @media(max-width: 600px) {
        .container {
            width: 90%;
        }
        .group-item {
            flex-direction: column;
        }
        .group-item label {
            width: 100%;
        }
        .group-item input {
            width: 100%;
            padding: 10px 10px;
        }
        form {
            width: 100%;
            padding: 20px 20px;
        }
    }
}